<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bonjour <%= user ? `${user.firstname}` : '' %> !</h1>
    <a href="/note">Note</a>
    <a href="/share">Share</a>
    <p> Your notes: </p>
    <ul>
        <% for(let note of notes) { %>
            <li><a href="/note/<%= note.id %>"><%= note.title %></a></li>
        <% } %>
    </ul>
    <p> Shared with you:</p>
    <ul>
        <% for(let share of shares) { %>
            <li><a href="/note/<%= share.id %>"><%= share.title %></a></li>
        <% } %>
    </ul>








    <p>
        <% if(user) { %>
            <a href="/logout">Logout</a>
        <% } else { %>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        <% } %>
    </p>
</body>
</html>